  /* Gallery.css */

.container {
    padding-top: 200px; /* Adjust this value according to your navbar height */
  }
  
  .col-lg-4 {
    padding: 0 15px; /* Add horizontal padding between columns */
  }
  
  /* Ensure images do not exceed column width */
  .w-100 {
    max-width: 100%;
  }
  
  /* Add space between images */
  .mb-4 {
    margin-bottom: 1rem; /* Adjust as needed */
  }
  
  /* Ensure images have rounded corners and shadow */
  .rounded {
    border-radius: 0.25rem;
  }
  
  .shadow-1-strong {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
  